@model IEnumerable<RestaurantReviews.Web.Models.RestaurantDetailed>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>
        Restaurant Rates
    </h2>
    <p>We rate restaurants</p>
</div>

<div class="searchBox">
    @using (Html.BeginForm("Search", "Restaurant", FormMethod.Get))
    {
        <input id="s" name="query" class="searchBox" type="text" autofocus />
        <input type="submit" value="Search" class="btn btn-default" />
    }
</div>

<h3>
    Our top 3 picks
</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvgScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Food)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumReviews)
        </th>
        <th>

        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(itemModel => item.Name)
            </td>
            <td>
                @Html.DisplayFor(itemModel => item.AvgScore)
            </td>
            <td>
                @Html.DisplayFor(itemModel => item.Food)
            </td>
            <td>
                @Html.DisplayFor(itemModel => item.NumReviews)
            </td>
            <td>
                @Html.ActionLink("Review", "Create", "Review", new { restId = item.Id }, null) |
                @Html.ActionLink("Details", "Details", "Restaurant", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>