@model IEnumerable<RestaurantReviews.Web.Models.RestaurantDetailed>

@{
    ViewBag.Title = "Restaurant List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Restaurant List</h2>

<div class="searchBox">
    @using (Html.BeginForm("Search", "Restaurant", FormMethod.Get))
    {
        <input id="s" name="query" class="searchBox" type="text" autofocus/>
        <input type="submit" value="Search" class="btn btn-default" />
    }
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("^", "index", new { sort = "alpha", asc = "true" })
            @Html.DisplayNameFor(model => model.Name)
            @Html.ActionLink("v", "index", new { sort = "alpha", asc = "false" })
        </th>
        <th>
            @Html.ActionLink("^", "index", new { sort = "score", asc = "true" })
            @Html.DisplayNameFor(model => model.AvgScore)
            @Html.ActionLink("v", "index", new { sort = "score", asc = "false" })
        </th>
        <th>
            @Html.ActionLink("^", "index", new { sort = "food", asc = "true" })
            @Html.DisplayNameFor(model => model.Food)
            @Html.ActionLink("v", "index", new { sort = "food", asc = "false" })
        </th>
        <th>
            @Html.ActionLink("^", "index", new { sort = "numrev", asc = "true" })
            @Html.DisplayNameFor(model => model.NumReviews)
            @Html.ActionLink("v", "index", new { sort = "numrev", asc = "false" })
        </th>
        <th>
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(itemModel => item.Name)
        </td>
        <td>
            @Html.DisplayFor(itemModel => item.AvgScore)
        </td>
        <td>
            @Html.DisplayFor(itemModel => item.Food)
        </td>
        <td>
            @Html.DisplayFor(itemModel => item.NumReviews)
        </td>
    <td>
        @Html.ActionLink("Review", "Create", "Review", new { restId = item.Id}, null) |
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
    </tr>
}

</table>
